{
    color1: #834141;
    color2: #FFD66B
}

.dashboard-button {
    -fx-background-color: color2;
    -fx-text-fill: color1;
    -fx-font-family: "Georgia Pro Semibold";
    -fx-font-size: 13.5;
    -fx-content-display: left;
    -fx-alignment: baseline-left;
    -fx-graphic-text-gap: 30;
    -fx-padding: 0 0 0 30;
    -fx-effect: null;
}
.dashboard-button:hover {
    -fx-background-color: #FFB800;
    -fx-effect: null;
}
.dashboard-button:pressed {
    -fx-effect: null;
    -fx-background-color: #FFE091;
}
/* For app info and logout buttons */
.dashboard-logout-info-button {
    -fx-background-color: color2;
    -fx-text-fill: color1;
    -fx-font-family: "Georgia Pro Semibold";
    -fx-font-size: 13.5;
    -fx-content-display: left;
    -fx-alignment: baseline-left;
    -fx-graphic-text-gap: 30;
    -fx-padding: 0 0 0 31;
    -fx-effect: null;
}
.dashboard-logout-info-button:hover {
    -fx-background-color: #FFB800;
    -fx-effect: null;
}
.dashboard-logout-info-button:pressed {
    -fx-effect: null;
    -fx-background-color: #FFE091;
}
/* For search button */
.dashboard-search-button {
    -fx-background-color: color2;
    -fx-text-fill: color1;
    -fx-font-family: "Georgia Pro Semibold";
    -fx-font-size: 13.5;
    -fx-content-display: left;
    -fx-alignment: baseline-left;
    -fx-graphic-text-gap: 30;
    -fx-padding: 0 0 0 32;
    -fx-effect: null;
}
.dashboard-search-button:hover {
    -fx-background-color: #FFB800;
    -fx-effect: null;
}
.dashboard-search-button:pressed {
    -fx-effect: null;
    -fx-background-color: #FFE091;
}