{
    color1: #834141;
    color2: #FFD66B
}

/* For new ad button */
.new-button {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-text-fill: black;
    -fx-font-family: "Georgia Pro Semibold";
    -fx-font-size: 15;
    -fx-content-display: top;
    -fx-alignment: bottom-center;
    -fx-graphic-text-gap: 10;
    -fx-padding: 0 0 10 0;
    -fx-effect: null;
}
.new-button:hover {
    -fx-background-color: white;
    -fx-effect: null;
    -fx-background-radius: 20;
}
.new-button:pressed {
    -fx-effect: null;
    -fx-background-color: #F5F5F5;
    -fx-background-radius: 20;
}