/* Checkboxes style */
.check-box:disabled, .check-box:disabled > * {
    -fx-opacity: 1.0 ;
}
.check-box {
    /* default properties */
    selected-box-color: white;
    box-color: white;
    mark-color: black;
    border-color: black;
}
.check-box:selected > .box {
    /* background color for selected checkbox */
    -fx-background-color: selected-box-color;
    -fx-border-color: border-color;
    -fx-border-width: 1;
    -fx-border-radius:3px;
}
.check-box > .box {
    /* background color of unselected checkbox */
    -fx-background-color: box-color;
    -fx-border-color: border-color;
    -fx-border-width: 1;
    -fx-border-radius:3px;
}
.check-box:selected > .box > .mark,
.check-box:indeterminate  > .box > .mark {
    /* modify mark color */
    -fx-background-color: mark-color;
    -fx-border-color: border-color;
    -fx-border-width: 1;
    -fx-border-radius:3px;
}

/* Text Area style */
.text-area {
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
}

.text-area .content {
    -fx-background-color: transparent, white, transparent, white;
}

.text-area:focused .content {
    -fx-background-color: transparent, white, transparent, white;
}

.text-area:focused {
    -fx-highlight-fill: #7ecfff;
}

.text-area .content {
    -fx-padding: 10px;
    -fx-text-fill: gray;
    -fx-highlight-fill: #7ecfff;
}