{
    color1: #834141;
    color2: #FFD66B
}

/* For profile image */
.profile-image-picture-frame {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 0.5;
    -fx-border-radius: 10;
}

/* For ads, cared pets and services buttons */
.ads-cared-serv-button {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-text-fill: black;
    -fx-font-family: "Georgia Pro Semibold";
    -fx-font-size: 15;
    -fx-content-display: top;
    -fx-alignment: bottom-center;
    -fx-graphic-text-gap: 30;
    -fx-padding: 0 0 26 0;
    -fx-effect: null;
}
.ads-cared-serv-button:hover {
    -fx-background-color: white;
    -fx-effect: null;
    -fx-background-radius: 20;
}
.ads-cared-serv-button:pressed {
    -fx-effect: null;
    -fx-background-color: #F5F5F5;
    -fx-background-radius: 20;
}

/* For personal info ads button */
.pers-info-button {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-text-fill: black;
    -fx-font-family: "Georgia Pro Semibold";
    -fx-font-size: 15;
    -fx-content-display: top;
    -fx-alignment: bottom-center;
    -fx-graphic-text-gap: 20;
    -fx-padding: 0 0 18 0;
    -fx-effect: null;
}
.pers-info-button:hover {
    -fx-background-color: white;
    -fx-effect: null;
    -fx-background-radius: 20;
}
.pers-info-button:pressed {
    -fx-effect: null;
    -fx-background-color: #F5F5F5;
    -fx-background-radius: 20;
}